{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="mb-lg-3 mb-md-3">
        {{ form_label(form.title, 'Titre de l\'annonce') }}
        {{ form_widget(form.title) }}

    </div>

    <div class="mb-lg-3 mb-md-3">
        {{ form_label(form.description, 'Decription de l\'annonce') }}
        {{ form_widget(form.description, {'attr': {'rows': 10}}) }}
    </div>


    <div class="mb-lg-3 mb-md-3">
        {{ form_label(form.photo, 'Photo de l\'annonce') }}
        {{ form_widget(form.photo) }}
    </div>


    <div class="mb-lg-3 mb-md-3">
        {{ form_label(form.category, 'Catégorie de l\'annonce') }}
        {{ form_widget(form.category, {'attr': {'style': 'cursor: pointer'}}) }}
    </div>

    <div class="row mb-lg-3 mb-md-3">
        <div class="col-6 mb-lg-3 mb-md-3">
            {{ form_label(form.zipCode, 'Code postal') }}
            {{ form_widget(form.zipCode) }}
        </div>

        <div class="col-6 mb-lg-3 mb-md-3">
            {{ form_label(form.city, 'Ville') }}
            {{ form_widget(form.city) }}
        </div>
    </div>

    <button class="btn btn-primary mb-lg-4 mb-md-4" type="submit">Créer mon annonce</button>
{{ form_end(form) }}
