{% extends 'base.html.twig' %}

{% block title %}Edit Advert{% endblock %}

{% block body %}
<div class="w-75 m-auto">
    <a href="{{ path('advert_index') }}"><i class="fa fa-arrow-left" aria-hidden="true"></i>
        Retour à mes annonces</a>
    <h1 class="mt-3">Éditer mon annonce</h1>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ include('advert/_form.html.twig', {'button_label': 'Update'}) }}
    {% include 'advert/_btn_edit.html.twig' %}
    {{ form_end(form) }}

    <div class="mb-5">
        {{ include('advert/_delete_form.html.twig') }}
    </div>

</div>
{% endblock %}
