{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1 class="text-center mt-3 mb-lg-3 mb-md-3">{{ title | capitalize}}</h1>

    <div class="row row-cols-1 row-cols-md-2 g-4 list-home mb-md-4 mb-lg-4" style="margin-left: 10px; margin-right: 10px;">
        {% if adverts is empty %}
            <p class="text-center m-auto mt-5">Aucune annonce</p>
        {% else %}
            {% for advert in adverts %}
                <div class="col">
                    <div class="card h-100 w-75 m-auto">
                        <img src="{{ vich_uploader_asset(advert, 'photoFile')|imagine_filter('miniature')}}" class="card-img-top" alt="{{ advert.title }}">
                        <a href="{{ path('advert_show', {slug: advert.slug}) }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ advert.title }}</h5>
                                <p class="card-text">{{ advert.description }}</p>
                                <p class="card-text"><small class="text-muted">Ajoutée le : {{ advert.createdAt|date("d/m/Y", "Europe/Paris") }}</small></p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
