{% extends 'base.html.twig' %}

{% block title %}{{ advert.title }}{% endblock %}

{% block body %}
    <input type="hidden" value="{{ advert.latitude }}" id="mapLat">
    <input type="hidden" value="{{ advert.longitude }}" id="mapLong">
    
    <div class="w-75 m-auto d-flex flex-column justify-content-center">
        <img class="w-50 align-self-center" src="{{ vich_uploader_asset(advert, 'photoFile')|imagine_filter('miniature') }}" alt="{{ advert.title }}">
        <h1 class="mt-lg-5 mt-md-5">{{ advert.title }}</h1>
        <h3>{{ advert.price }}€</h3>
        <p>{{ advert.createdAt|format_datetime(locale='fr') }}</p>
        <hr>
        <div class="mt-3">
            <h3 class="mb-3">Description</h3>
            <p>{{ advert.description }}</p>
        </div>
        <hr>
        <div class="mt-3 d-flex">
                <i class="fa fa-map-marker fa-2x" aria-hidden="true" style="padding-right: 5px"></i>
                <h4 class="mb-0 align-self-center">{{ advert.city}}</h4>
        </div>
        <div id="map" style="height: 300px">

        </div>
    </div>



    <a href="{{ path('advert_index') }}">back to list</a>

    <a href="{{ path('advert_edit', {'slug': advert.slug}) }}">edit</a>

    {{ include('advert/_delete_form.html.twig') }}
{% endblock %}