{% extends 'base.html.twig' %}

{% block title %}Advert{% endblock %}

{% block body %}
    <h1>Advert</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ advert.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ advert.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ advert.description }}</td>
            </tr>
            <tr>
                <th>Photo</th>

                <td><img src="{{ vich_uploader_asset(advert, 'photoFile')|imagine_filter('miniature') }}"></td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ advert.createdAt ? advert.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ advert.updatedAt ? advert.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('advert_index') }}">back to list</a>

    <a href="{{ path('advert_edit', {'id': advert.id}) }}">edit</a>

    {{ include('advert/_delete_form.html.twig') }}
{% endblock %}
